.Container {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
   border-bottom: 2px solid black;
   
  }
  
  .logoPizza {
    margin-right: 5%; 
    /* Espace entre le logo et le texte */
  }
  
  .Description {
    /* Ajoutez vos styles CSS ici */
    margin: 10px 0 10px 0;
  }
  
  .Description span {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
  }
  
  .container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .bouton {
    width: 140px;
    height: 40px;
  }
  
.paragraph {
    padding-top: 26%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  