.PanierParagraph {
  
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 25px 0;
}
.Panier{
   
        margin-left: auto;
        margin-right: auto;
        width: 60%;
}
.customPanier{

    display: flex;
   
    justify-content: space-between;
    margin-bottom: 15px;
    


}


.pizzaPanier{
    height: 60px;
    width: 60px;
   
  }

  .contentPanier {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between; /* Pour espacer les éléments sur l'axe principal */
}

/* Ajouter une marge entre les éléments enfants */
.contentPanier > * {
    margin-right: 10px; /* Ajustez la valeur selon votre préférence */
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Vous pouvez ajuster la hauteur selon vos besoins */
}